.header-bar{
    margin-top: 0%;
    height: 22%;
}

mat-toolbar>mat-toolbar-row{
    padding-top:8%
}

.header-bar>mat-toolbar-row>h1{
    font-size: 22px;
    font-weight:300;
}

.dashboard-card {
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  mat-accordion{
      width: 93%;
  }
  mat-expansion-panel{
      height: 90px;
  }
