<mat-toolbar class="header-bar" color="primary">
    <mat-toolbar-row>
        <h1>Workout summary</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="6" rowHeight="100px">

    <!-- One -->
    <mat-grid-tile class="one" rowspan="2" colspan="2">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Calories</mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">645</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <!-- Two -->
    <mat-grid-tile class="two" rowspan="2" colspan="2">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Heart Rate</mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <mat-list>
                    <mat-list-item> Ava. 143
                    </mat-list-item>
                    <mat-list-item> Peak. 188
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <!-- Three -->
    <mat-grid-tile class="three" rowspan="2" colspan="2">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Technique</mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">7.8</mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <!-- Fourth - Details -->
    <mat-grid-tile class="fourth" rowspan="3.5" colspan="2">
        <mat-accordion>
            <!-- first panel -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <!-- second panel -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <!-- third panel -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
    <!-- Pie-Chart -->
    <mat-grid-tile class="pie-chart" rowspan="3.5" colspan="4">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Details</mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">7.8</mat-card-content>
        </mat-card>
    </mat-grid-tile>


</mat-grid-list>