<!-- <div class="main-container">
  <img src="../../assets/wp.png" width="600" height="600">
</div> -->


<mat-grid-list cols="12" rowHeight="80px">
  <!--  -->
  <mat-grid-tile class="first" rowspan="2.5" colspan="6">

    <mat-grid-tile-header>Calories</mat-grid-tile-header>
    263
    <!-- <mat-grid-tile-footer>Footer 1</mat-grid-tile-footer> -->
  </mat-grid-tile>
  <mat-grid-tile class="second" rowspan="2.5" colspan="6">
    <mat-grid-tile-header>Work vs Rest
      <p> (sec)</p>
    </mat-grid-tile-header>
    14/36
    <!-- <mat-grid-tile-footer>Footer 2</mat-grid-tile-footer> -->
  </mat-grid-tile>
  <!--  -->
  <mat-grid-tile class="third" rowspan="7" colspan="12">
    <!-- <img src="../../assets/wp.png" width="600" height="500" hspace="0"> -->
    <!-- <img src="https://s3-eu-west-1.amazonaws.com/fitvision-photos/wp.png" width="600" height="500" hspace="0"> -->
    <img src="../../assets/frontWithPink.png" width="400" height="500" hspace="0">
    <img src="../../assets/backWithPink.png" width="400" height="520" hspace="0">
    <button class="sh" routerLink="/userMain/shouldert">Shoulders</button>
    <button class="chest" routerLink="/userMain/chestt">Chest</button>
    <button class="legs" routerLink="/userMain/lunget">Legs </button>
  </mat-grid-tile>

  <mat-grid-tile class="fourth" rowspan="1" colspan="12">
    <mat-toolbar>
      <span>My Progress</span>
    </mat-toolbar>
  </mat-grid-tile>

  <mat-grid-tile class="fifth" rowspan="1" colspan="12">
    <div class="w3-light-grey">
      <div class="w3-container" style="width:75%">
        <p>75%</p>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="sixth" rowspan="1" colspan="12"></mat-grid-tile>
</mat-grid-list>